USE [master]
GO
/****** Object:  Database [ExpensCustomerDb]    Script Date: 12/18/2025 4:35:17 AM ******/
CREATE DATABASE [ExpensCustomerDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ExpensCustomerDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ExpensCustomerDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ExpensCustomerDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ExpensCustomerDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ExpensCustomerDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ExpensCustomerDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/18/2025 4:35:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 12/18/2025 4:35:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExpenseItems]    Script Date: 12/18/2025 4:35:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExpenseItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ExpenseId] [int] NOT NULL,
	[ExpenseType] [nvarchar](max) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_ExpenseItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Expenses]    Script Date: 12/18/2025 4:35:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expenses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[ExpenseDate] [datetime2](7) NOT NULL,
	[Note] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Expenses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251217163632_init', N'9.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251217172809_inits', N'9.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251217174516_initsd', N'9.0.11')
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [Name], [Phone], [Email]) VALUES (2, N'Rahim Traders', N'0987654321', N'xyz@example.com')
INSERT [dbo].[Customers] ([Id], [Name], [Phone], [Email]) VALUES (3, N'Karim Store', N'01822222222', N'karim@gmail.com')
INSERT [dbo].[Customers] ([Id], [Name], [Phone], [Email]) VALUES (4, N'Nahar Enterprise', N'01933333333', N'nahar@gmail.com')
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[ExpenseItems] ON 

INSERT [dbo].[ExpenseItems] ([Id], [ExpenseId], [ExpenseType], [Amount]) VALUES (19, 5, N'Packaging', CAST(800.00 AS Decimal(18, 2)))
INSERT [dbo].[ExpenseItems] ([Id], [ExpenseId], [ExpenseType], [Amount]) VALUES (20, 5, N'Transport', CAST(600.00 AS Decimal(18, 2)))
INSERT [dbo].[ExpenseItems] ([Id], [ExpenseId], [ExpenseType], [Amount]) VALUES (21, 6, N'Hotel', CAST(1500.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ExpenseItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Expenses] ON 

INSERT [dbo].[Expenses] ([Id], [CustomerId], [ExpenseDate], [Note]) VALUES (4, 2, CAST(N'2025-12-18T00:00:00.0000000' AS DateTime2), N'Dhaka delivery trip')
INSERT [dbo].[Expenses] ([Id], [CustomerId], [ExpenseDate], [Note]) VALUES (5, 2, CAST(N'2025-12-18T00:00:00.0000000' AS DateTime2), N'Packaging & transport')
INSERT [dbo].[Expenses] ([Id], [CustomerId], [ExpenseDate], [Note]) VALUES (6, 3, CAST(N'2025-12-18T00:00:00.0000000' AS DateTime2), N'Chittagong visi')
SET IDENTITY_INSERT [dbo].[Expenses] OFF
GO
/****** Object:  Index [IX_ExpenseItems_ExpenseId]    Script Date: 12/18/2025 4:35:18 AM ******/
CREATE NONCLUSTERED INDEX [IX_ExpenseItems_ExpenseId] ON [dbo].[ExpenseItems]
(
	[ExpenseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Expenses_CustomerId]    Script Date: 12/18/2025 4:35:18 AM ******/
CREATE NONCLUSTERED INDEX [IX_Expenses_CustomerId] ON [dbo].[Expenses]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ExpenseItems]  WITH CHECK ADD  CONSTRAINT [FK_ExpenseItems_Expenses_ExpenseId] FOREIGN KEY([ExpenseId])
REFERENCES [dbo].[Expenses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ExpenseItems] CHECK CONSTRAINT [FK_ExpenseItems_Expenses_ExpenseId]
GO
ALTER TABLE [dbo].[Expenses]  WITH CHECK ADD  CONSTRAINT [FK_Expenses_Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Expenses] CHECK CONSTRAINT [FK_Expenses_Customers_CustomerId]
GO
USE [master]
GO
